<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>something</li>
          <li><a href="mailto:{{ site.email }}">ur email here</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        Put something cool here
      </div>

      <div class="footer-col footer-col-3">
        <p>Put somethign cool here part 2</p>
      </div>
    </div>

  </div>

</footer>
