---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  


  <div class="post-content" itemprop="articleBody" id='main_content'>
    {{ content }}
  </div>
  <script>
  var d = new Date();
  var current_date = d.getDate()  + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
  var page_date = "{{page.date | date: "%-d-%-m-%Y"  }}"
  if (current_date != page_date) {
    document.getElementById('main_content').innerHTML = "This page is encrypted. Can be accessed only on " + page_date;
  }
  </script>
  
</article>
